<?xml version = "1.0"?>
<events>
    <class name = "com.ras.nbsurgu.telegram.commands.Start">
        <add type = "command">/start</add>
    </class>

    <class name = "com.ras.nbsurgu.telegram.commands.Help">
        <add type = "command">/help</add>
    </class>

    <class name = "com.ras.nbsurgu.telegram.commands.News">
        <add type = "command" emoji = "\u2668\uFE0F">Новости</add>
        <add type = "command">/news</add>
    </class>

    <class name = "com.ras.nbsurgu.telegram.commands.WorkTime">
        <add type = "command" emoji = "\uD83D\uDD53">Время работы</add>
        <add type = "command">/times</add>
    </class>

    <class name = "com.ras.nbsurgu.telegram.commands.Authorization">
        <add type = "command" emoji = "\uD83D\uDD11">Авторизация</add>
        <add type = "command">/auth</add>

        <add type = "command" emoji = "\uD83D\uDD22">Войти</add>
        <add type = "command" emoji = "\uD83D\uDD01">Забыл пароль</add>
        <add type = "command" emoji = "\u21A9\uFE0F">Назад</add>
    </class>

</events>