<?xml version = "1.0"?>
<events>
    <class name = "com.ras.nbsurgu.telegram.commands.Start">
        <add type = "command">/start</add>
    </class>

    <class name = "com.ras.nbsurgu.telegram.commands.Help">
        <add type = "command">/help</add>
    </class>

    <class name = "com.ras.nbsurgu.telegram.commands.News">
        <add type = "command" emoji = "\u2668\uFE0F">Новости</add>
        <add type = "command">/news</add>
    </class>
</events>